 {%extends  'myresume/base.html'%}
 {%load static %}
{% block content %}
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="home_left_img">
								<img src="{% static 'img/banner/home-left-1.jpg' %}">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="banner_content">
							
								<h2>بهار محمدحسینی</h2>
								<p>از آموختن و  باز هم آموختن  نترسیم، رشد ما با آموختن اتفاق  می افتد</p>
								<a class="banner_btn" href="#">پس همین حالا شروع کن</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        
		{%endblock %}     