{%extends  'myresume/base.html'%}
{%load static %}
{% block content %}
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-left">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.5" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<br>
						<br>
						<h2>آشنایی با زبان </h2>
						<p> فارسی</p>
						<p> ترکی آذری و استانبولی</p>
						<p> انگلیسی</p>
						<p> روسی </p>
						<br>
						<br>
						<br>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
                
      
     
		{%endblock %}  