{%extends 'myresume/base.html'%}
{%load static %}
{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
		</div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>مهارتها </h2>
				<div class="page_link">
					<p>معلم هنرستان در رشته تصویر سازی</p>
					<br>
					<p> آشنا با نرم افزارهای تدوین فیلم </p>
					<br>
					<p> آشنا با نرم افزارهای مدلسازی سه بعدی </p>
					<br>
					<p> مدیریت کلاس </p>
				</div>

			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_100">
	<div class="container">
		<div class="row welcome_inner">
			
			<div class="col-lg-6">
				<div class="tools_expert">
					<h3>مهارت در زمینه </h3>
					<div class="skill_main">
						<div class="skill_item">
							<h4>After Effects <span class="counter">85</span>%</h4>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Photoshop <span class="counter">90</span>%</h4>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Illustrator <span class="counter">100</span>%</h4>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Premier <span class="counter">95</span>%</h4>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
						</div>
						<div class="skill_item">
							<h4>AutoDesk maya <span class="counter">65</span>%</h4>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Welcome Area =================-->

{%endblock %}