{%extends  'myresume/base.html'%}
{%load static %}
{% block content %}
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-left">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.5" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>تحصیلات</h2>
						<br>
						<br>
						<p> کارشناسی مهندسی کامپیوتر نرم افزار از دانشگاه فردوسی مشهد</p>
						<p> کارشناسی ارشد مهندسی کامپیوتر نرم افزار از دانشگاه آزاد  واحد تهران جنوب</p>
						<br>
						<br>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
  
      
     
		{%endblock %}  